<form [formGroup]="formModal" (ngSubmit)="onSubmitFirebase()">
    <p class="title">Boa Campeão!!</p>
    <div mat-dialog-content>
        <div class="labels">
            <p>Prabéns, neste momento você faz parte do MasterMind ranking!</p>
        </div>
      <mat-form-field style="width: 100%;">
        <input matInput formControlName="playerName" placeholder="escreva seu nome ou nickname">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button type="submit" class="btn-submit">Submit</button>
    </div>
</form>