<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Instruções do Jogo
        </mat-panel-title>
        
      </mat-expansion-panel-header>
      {{ textInfo }}
      <br>
      <small>Mais Informações: <a href="https://pt.wikihow.com/Jogar-Senha" target="_blank">https://pt.wikihow.com/Jogar-Senha</a></small>
      
    </mat-expansion-panel>
    
  </mat-accordion>
                                                                                                                                                                                                                                                                          