<div>
    <div class="little-ball-group">
        <div class="box">
            <div class="size-div-ball">
                <svg  width="25" height="25">                
                    <circle cx="12" cy="12" r="12" stroke="#20272a" stroke-width="1.5" fill="black" />                
                </svg>
            </div>
            <div class="label">
                POSIÇÃO e COR corretas
            </div>
        </div>
        <div class="box">
            <div class="size-div-ball">
                <svg  width="25" height="25">                
                    <circle cx="12" cy="12" r="12" stroke="#20272a" stroke-width="1.5" fill="white" />                
                </svg>
            </div>
            <div class="label">
                COR correta
            </div>
        </div>
        <div class="box">
            <div class="size-div-ball">
                <svg  width="25" height="25">                
                    <circle cx="12" cy="12" r="12" stroke="#20272a" stroke-width="1.5" fill="#ecc6b8" />                
                </svg>
            </div>
            <div class="label">
                nem POSIÇÃO nem COR corretas
            </div>       
        </div>
        <div class="label">
            Info: arraste e solte a cor desejada.
        </div>
    </div>
</div>