<form [formGroup]="formSettings" (ngSubmit)="startGame()">
    <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    <app-info></app-info>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
            <div class="radiobox-group">
                    <div class="label-radio">Condição da Combinação de Cores do Desafio</div>
                    <mat-radio-group (change)="repetitionChange($event.value)" formControlName="repetition">
                        <mat-radio-button value="1">Sem repetição</mat-radio-button>
                        <mat-radio-button value="2">Com repeticao</mat-radio-button>
                    </mat-radio-group>
            </div>
                <div class="radiobox-group">
                    <div class="label-radio">Quanatidade de Jogadas</div>
                    <mat-radio-group (change)="nivelChange($event.value)" formControlName="nivel">
                        <mat-radio-button value="15">Quinze</mat-radio-button>                        
                        <mat-radio-button value="10">Dez</mat-radio-button>
                        <mat-radio-button value="6">Seis</mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-card-content>
            
            <mat-card-actions>
                <button type="submit" mat-stroked-button>Play!</button>
                
            </mat-card-actions>   
            <mat-card-footer>
                <div>
                    <small>Dificuldade: {{ progressBar }}%</small>
                    <mat-progress-bar mode="determinate" [color]="color" [value]="progressBar"></mat-progress-bar>
                </div>
            </mat-card-footer>
    </mat-card>
</form>
<div>
    <img>
</div>