
   <div class="background-div">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-10">
                    <form [formGroup]="formHome" (ngSubmit)="onSubmitName()" class="form-player">
                        <mat-card class="card-home">
                            <mat-card-header>
                                <mat-card-title>
                                    Let's Play with the Mind
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <mat-form-field class="example-full-width">
                                <input 
                                matInput
                                placeholder="Nickmame or Name"
                                formControlName="name" >
                                </mat-form-field>
                            </mat-card-content>
                            <mat-card-actions>
                                <button type="submit" routerLink="/game" mat-stroked-button>Play</button>
                            </mat-card-actions>
                        </mat-card>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-sm-10">
                    <mat-card class="card-home">
                        <mat-card-header>
                            <mat-card-title>
                                How to Play
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            describe here how to play
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
   </div>
